---
import Layout from "@layouts/Layout.astro"
import LinkButton from "@components/LinkButton.svelte"
import { getCMSPage } from "src/helpers"
import { getDonatePage } from "@/utils/cms"

const donateData = await getDonatePage()
---

<Layout title="Donate">
	<div class="flex flex-col lg:grid lg:grid-cols-12 lg:gap-8">
		<div class="md:max-w-1xl flex flex-col gap-4 md:mx-auto lg:col-span-8">
			<h1
				class="mb-2 mt-1 text-4xl font-extrabold uppercase leading-10 tracking-tight text-gray-900 sm:leading-none lg:mb-6 lg:text-6xl"
			>
				Let's grow <span class="underline">together!</span>
			</h1>
			<Fragment set:html={donateData.donate_statement_html} />
			{
				donateData.donate_cta_button && (
					<LinkButton href={donateData.donate_cta_button!.url!} classes="mt-4">
						{donateData.donate_cta_button!.text!}
					</LinkButton>
				)
			}
		</div>
	</div>
</Layout>
