---
import Layout from "../layouts/Layout.astro"
import { getPrograms, getHomePage } from "@/utils/cms"

const homeData = await getHomePage()

const titleRegex = homeData.title.match(/_(.*)_/)

if (titleRegex) {
	homeData.title = homeData.title.replace(
		titleRegex[0],
		`<span class="underline">${titleRegex![1]}</span>`,
	)
}

const programs = await getPrograms()
---

<Layout title="Hunger | U.P. Lions Serve">
	<div class="flex flex-col lg:grid lg:grid-cols-12 lg:gap-12">
		<div class="md:max-w-1xl flex flex-col gap-4 md:mx-auto lg:col-span-8">
			<h1
				class="mb-2 mt-1 text-4xl font-extrabold uppercase leading-10 tracking-tight text-gray-900 sm:leading-none lg:mb-6 lg:text-6xl"
				set:html={homeData.title}
			/>

			{
				programs.map((program) => (
					<div>
						<h2 class="text-xl font-bold uppercase">{program.title}</h2>
						<p class="mb-6 mt-3 font-body text-base text-gray-500 sm:mt-2 sm:text-xl lg:text-lg">
							{program.home_page_description}{" "}
							<a href={`/hunger/programs#${program.title_id}`}>
								Click for REAL details!
							</a>
						</p>
					</div>
				))
			}

			<div class="grow">
				<p class="text-book-gray mt-3 text-sm sm:mt-5 sm:text-base">
					Please consider a donation to any of the programs above.
					<a href="https://donorbox.org/lions-hunger" target="_blank">
						Let's grow together!</a
					>
				</p>
			</div>
		</div>
		<div
			id="hero-image"
			class="relative mt-12 h-60 w-full bg-cover bg-center object-contain sm:mx-auto lg:col-span-4 lg:mx-0 lg:mt-0 lg:h-full lg:max-w-none lg:items-center"
		>
		</div>
	</div>
</Layout>

<style>
	#hero-image {
		background-image: url("/hunger/hero.jpg");
	}

	#hero-image::before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
		background-color: #f37728;
		transform: translate(-1%, 4%);
	}

	@media (min-width: 1024px) {
		#hero-image::before {
			bottom: 0;
			transform: translate(-4%, 2%);
		}
	}
</style>
