---
import { getCMSData } from "src/helpers"
import Layout from "@layouts/Layout.astro"
import ProgramListing from "@components/ProgramListing.svelte"
import { getPrograms } from "@/utils/cms"

const programs = await getPrograms()
---

<Layout title="Programs | Hunger">
	<div class="grid lg:grid-cols-3">
		<article class="flex flex-col gap-20 lg:col-span-3">
			{
				programs.map((program) => (
					<ProgramListing program={program} client:load />
				))
			}
		</article>
	</div>
</Layout>
