---

---

<footer
	class="flex flex-col items-center justify-center bg-gray-900 py-12 text-center leading-4"
>
	<p class="text-gray-50">
		Lions Hunger is a proud member of the
		<a href="/" class="text-primary">U.P. Lions Serve Foundation</a>.
	</p>
</footer>
