---
import LinkButton from "./LinkButton.svelte"
---

<header class="m-auto flex w-full max-w-7xl items-center gap-4 md:ml-10">
	<div>
		<a
			href="/"
			class="flex h-8 w-8 items-center justify-center rounded-full bg-primary no-underline"
		>
			<span class="block -translate-x-[1px] -rotate-90 text-white">&#9650;</span
			>
		</a>
	</div>
	<div>
		<a href="/hunger" class="no-underline">
			<img src="/hunger/logo.svg" alt="" class="w-32" />
		</a>
	</div>
	<menu class="flex w-full items-center gap-6 text-2xl">
		<li><a href="/hunger" class="">Home</a></li>
		<li><a href="/hunger/programs" class="">Programs</a></li>
		<li><a href="/hunger/about" class="">About</a></li>
	</menu>
</header>
<menu class="fixed right-20 top-10 xl:right-10">
	<li>
		<LinkButton href="/hunger/donate">Donate</LinkButton>
	</li>
</menu>

<style>
	#back-button {
		display: block;
		width: 110px;
		height: fit-content;
		padding: 5px 10px;

		background-color: #f37728;
		font-size: 1.25rem;
		font-weight: 900;
		text-transform: uppercase;
		line-height: 1.75rem;
		color: white;
	}

	#back-button::before {
		display: none;
	}
</style>
