---

---

<header class="flex items-center px-8">
	<a href="/" id="back-button"> </a>
	<div>
		<img src="/hunger/logo.svg" alt="" class="w-32" />
	</div>
	<menu class="flex gap-6">
		<li><a href="/hunger">Home</a></li>
		<li><a href="/hunger/services">About</a></li>
		<li><a href="/hunger/about">Contact</a></li>
	</menu>
</header>

<style>
	#back-button {
		display: block;
		width: 110px;
		height: fit-content;
		padding: 5px 10px;

		background-color: #f37728;
		font-size: 1.25rem;
		font-weight: 900;
		text-transform: uppercase;
		line-height: 1.75rem;
		color: white;
	}

	#back-button::before {
		display: none;
	}

	menu a {
		font-size: 1.5rem;
	}
</style>
